// Inter

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
}

// KumbSans
@font-face {
    font-family: 'KumbSans-Medium';
    src: url('../fonts/Inter-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KumbSans-Regular';
    src: url('../fonts/Inter-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}