@use 'helpers/mixins' as *;
@use 'helpers/function' as *;
@use 'media/media' as *;



body{
    font-family: var(--font-family-base-regular);
    font-size:fluid(18,12);
}


.header,.top-section,.footer{
    overflow: hidden;
}

.container{
    max-width: calc(var(--container-width) + var(--container-padding-x)* 2);
    margin-inline: auto;
    padding-inline: rem(16);
    // @include mobile{
    //     padding-inline: rem(16);
    // }
}

a,button,textarea,input,label,select,svg *{
    transition-duration: var(--transition-duration);
}


a,button{
    cursor: pointer;
}

a{
    color: var(--grey-50);

    &[class]{
        text-decoration: none;
    }

    font-size: #{fluid(18,14)};

    @include hoverLaptop(var(--yellow-accent));
    
    @include hoverTablet(var(--yellow-accent));
}



.is-active{
    color: var(--light);
    padding:#{rem(14) rem(24)};
    border-radius: #{rem(10)};
    border: solid 1px var(--dark-20);
    font-family: var(--font-family-base-medium);
}




.is-lock{
    overflow: hidden;
}

.visually-hidden{
    display: none;
}


.hide{
    display: none;
}
