@use '../helpers/function' as *;
@use '../media/media' as *;
.preview-card{
    padding: rem(30);
    background: var(--dark-10);
    border-radius: rem(13);


    &:last-child{
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        @include laptop{
            gap:rem(20)
        }
    }
}