@use '../media/media' as *;
@use '../helpers/index' as *;


.title{
    font-family: var(--font-family-accent);
    font-size: rem(58);
    font-weight: 500;
    color: var(--light);
    line-height: 1.3;

    @include laptop{
        font-size: rem(44);
    }
    @include tablet{
        font-size: #{fluid(44,28)};
    }
}